<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SENTRY_DSN</key>
	<string>https://c6ea09df0e809a38afdf758784e7c0d2@o4511504656302080.ingest.us.sentry.io/4511481246973952</string>
	<key>SUFeedURL</key>
	<string>https://getzerro.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>IV0J9TIWJpe/dL5A/8NvDhfmsjZatlrJA1NPnmX2xiE=</string>
</dict>
</plist>
